.danger{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.danger:hover{
    background-color: #660000;
}
