.NavbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 0;
    height: 10%;
}

.NavbarLightMode{
    background-color: #00ccff;
    border-bottom: 1px solid black;
}

.NavbarDarkMode{
    background-color: #00001a;
    border-bottom: 1px solid white;
}