.NavbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 0;
    height: 10%;
    box-shadow:0 0 3px 4px rgba(0, 0, 0, 0.5);
}

.NavbarLightMode{
    background-color: #00ccff;
}

.NavbarDarkMode{
    background-color: #00001a;
    border-bottom: 1px solid white;
}