.ToolbarContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: white;
}
.ToolbarTitle{
    font-size: 15px;
    font-weight: bold;
}

.ToolbarContainer div img{
    width: 30px;
}
.DesktopOnlyTogglersStyle{
    width: 20%;
}

@media(max-width:500px){
    .DesktopOnly{
        display: none;
    }
    .ToolbarTitle{
        font-size: 12px;
    }
}