.currWeather{
    grid-column: 1;
    grid-row: 1;
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currWeather div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.currWeather img{
    width: 80px;
    align-self: center;
}

.currWeather div:nth-child(2){
    text-align: center;
}