.currWeather{
    grid-column: 1;
    grid-row: 1;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currWeather div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.currWeatherPartTwo{
    grid-column: 2;
    grid-row: 1;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.currWeatherPartTwo img{
    width: 80px;
    align-self: center;
}

@media(max-width:500px){
    .currWeather{
        justify-content: center;
    }

    .currWeatherPartTwo{
        justify-content: center;
    }
    
}