.ForecastCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    /* width: 200px; */
    border-radius: 5px ;
    font-weight: 700;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ForecastCard span{
    margin-bottom: 1%;
}



.ForecastLight{
    box-shadow: 0 0 5px 2px black;
    border: 1px solid black;
}

.ForecastDark{
    box-shadow: 0 0 5px 2px white;
    border: 1px solid white;
}

.ForecastCard img{
    width: 80px;
    align-self: center;
}

@media(max-width:500px){
    .ForecastCard{
        width: 100%;
    }
}