.Forecast{
    grid-column: 1/ 4;

    grid-template-rows: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 70%;
    justify-content: center;

}




@media(max-width:500px){
    .Forecast{
        width: 100%;
        grid-template-columns: 1fr;
        justify-self: center;
        grid-template-rows: 1fr;
    }
}